{% extends 'base/base.html' %}

{% block title %}Add Buyer{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Buyer</a></li>
                            <li class="active">Add</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Buyer</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">po_number</label>
                                {{ form.po_number }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                            <div class="form-group">
                                <label for="client_id" class="control-label mb-1">type</label>
                                {{ form.type }}
                                    </div>
                                </div>
                                <div class="col-6">
                            <div class="form-group">
                                <label for="is_paid" class="control-label mb-1">is_paid</label>
                                {{ form.is_paid }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                            <div class="form-group">
                                <label for="shipping_by" class="control-label mb-1">shipping_by</label>
                                {{ form.shipping_by }}
                                    </div>
                                </div>
                                <div class="col-6">
                            <div class="form-group">
                                <label for="track_no" class="control-label mb-1">track_no</label>
                                {{ form.track_no }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                            <div class="form-group">
                                <label for="price" class="control-label mb-1">price</label>
                                {{ form.price }}
                                    </div>
                                </div>
                                <div class="col-6">
                            <div class="form-group">
                                <label for="buyer" class="control-label mb-1">buyer</label>
                                {{ form.buyer }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="warehouse" class="control-label mb-1">warehouse</label>
                                {{ form.warehouse }}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                    <span id="payment-button-amount">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}