{% extends 'base/base.html' %}

{% block title %}Add Buyer{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Buyer</a></li>
                            <li class="active">Update</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Update Buyer</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action={% url 'edit-buyer'%} method="post" novalidate="novalidate">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-6">
                            <div class="form-group">
                                <label for="id" class="control-label mb-1">Id</label>
                                <input type="text" name="id" class="form-control" value="{{ buyer.id }} "readonly>
                            </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="name" class="control-label mb-1">Full Name</label>
                                        <input type="text" name="name" class="form-control" value="{{ buyer.name }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="client_id" class="control-label mb-1">client_id</label>
                                        <input type="text" name="client_id" class="form-control" value="{{ buyer.client_id }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="line_id" class="control-label mb-1">line_id</label>
                                        <input type="text" name="line_id" class="form-control" value="{{ buyer.line_id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address" class="control-label mb-1">Address</label>
                                        <input type="text" name="address" class="form-control" value="{{ buyer.address }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="zipcode" class="control-label mb-1">zipcode</label>
                                        <input type="text" name="zipcode" class="form-control" value="{{ buyer.zipcode }}">
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email" class="control-label mb-1">Email Address</label>
                                        <input type="email" name="email" class="form-control" value="{{ buyer.email }}">
                                    </div>
                                </div>
                                  <div class="col-6">
                                    <div class="form-group">
                                        <label for="tel" class="control-label mb-1">tel</label>
                                        <input type="text" name="tel" class="form-control" value="{{ buyer.tel }}">
                                    </div>
                                </div>
                              </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" value="Edit Buyer">
                                    <span id="payment-button-amount">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}